/* Comments-Styles */

.comments-card-layout {
	height: 24rem;
	padding-top: 1rem;
}

.comments-block {
	height: 16rem;
	margin: 0.5rem;
	/* height: 14rem; */
	text-align: left;
	overflow: auto !important;
}

.comments-card {
	margin: 0.5rem;
	height: 14rem;
	text-align: left;
	overflow: auto !important;
}

.comments-font {
	padding-top: 0.5rem;
}

.comments-textfield {
	width: 13rem;
}

.comments-send-button {
	background-color: #6b1d5e;
    color: white;
    border: none;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 10px 18px;
}

/* Moments-Styles */

.moments-card-layout {
	height: 25rem;
}

.moments-card {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.moments-card-header {
	padding-left: 3rem;
}

.moments-card-body {
	padding-left: 2rem;
    text-align: left;
    font-weight: 600;
    font-size: 0.8rem;
	overflow-y: scroll;
    height: 20rem !important;
}

.moments-card-menu {
	width: 5.5rem;
	overflow: visible;
	height: ITEM_HEIGHT * 2rem;
	text-align: center;
}

.moments-font {
	margin: 0.5rem 0;
}

/* Transcriptions */

.transcriptions-card {
	height: auto;
}

.transcriptions-card-heading {
	/* padding-bottom: 1rem; */
	margin: 1rem;
}

.transcriptions-card-divider {
	margin: 0;
    height: 1px;
    background-color: #e0e0e0;
    border: none;
}

.transcriptions-card-chip-list {
	display: flex;
	justify-content: space-evenly;
}

.transcriptions-card-icons {
	align-self: flex-end;
}

.transcriptions-card-image {
	width: 100%;
}

.transcriptions-main-layout {
	overflow-y: auto;
	height: 20rem !important;
	padding: 0.5rem;
}

.call-transcription-layout {
	display: flex;
	justify-content: space-between;
}

.call-transcription-timing-profile {
	margin-right: 1rem !important;
	color: darkgrey;
}

.call-transcription-chip {
	height: 1.5rem !important;
}

.call-transcription-comment {
	padding: 0 !important;
}

.call-transcription-comment-button {
	padding: 0 !important;
	cursor: pointer;
}

.call-transcription-add-comment {
	color: black;
	font-size: 1rem !important;
}

.call-transcription-play-button {
	background-color: #6b1d5e;
    color: white;
    border: none;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-bottom: 4px;
	margin-right: 2px;
}

.call-transcription-play-icon {
	font-size: 15px !important;
	vertical-align: bottom;
	height: 1rem !important;
}

.transcription-layout {
	margin: 1rem 0;
}

.transcription-agent-speech {
	text-align: justify;
	height: auto;
	background-color: lightgrey;
	padding: 0.5rem 1rem;
	margin: 0.3rem 0 !important;
	border-left: 2px solid blue;
	font-size: 0.7rem !important;
}

.transcription-customer-speech {
	text-align: justify;
	height: auto;
	background-color: lightgrey;
	padding: 0.5rem 1rem;
	margin: 0.3rem 0 !important;
	border-left: 2px solid green;
	font-size: 0.7rem !important;
}

/* Visualizer Styles */

.visualizer-card-layout {
	margin: 1rem;
	height: 15rem;
	padding: 1rem;
}

.vertical-align-middle {
	vertical-align: inherit;
}