@import '../../common-style.scss';
.dashboard-page-layout {
	display: flow-root;
	flex-grow: 1;
}

.dashboard-page-card {
	margin: 1rem;
	padding: 1rem 0 1rem 1rem;
}

.dashboard-page-card-list {
	display: flex;
}

.dashboard-right-content{
	width: 90%;
	//82%
    margin:0  0.4rem;
    box-sizing: border-box;
}
.dashboard-left-content{
	// width: 10%;
    // margin:0  0.4rem;
    // box-sizing: border-box;
}
/* .dashboard-page-call-details {
	padding: 1rem;
	text-align: left;
} */
canvas {
    padding: 10px 20px;
	// width: 100%;
}

.dashboard-page-divider {
	margin: 0.3rem 0;
	height: 1px;
    background-color: $primary-color !important;
    border: none;
}

.dashboard-page-components {
	padding: 0 1rem 0 1rem;
}

.MuiTypography-h5{
	font-size: 1.2rem !important;
}