.calls-page-layout {
	display: flow-root;
}

.calls-page-card-body-layout {
	margin: 1rem;
	padding: 1rem 0 1rem 1rem;
}

.calls-page-card-body-design {
	display: flex;
}

.calls-page-card-main-body {
	width: 100%;
}

.calls-page-call-details {
	padding: 1rem;
	text-align: left;
}

.calls-page-divider {
	margin: 0.3rem 0;
}

.calls-page-table-layout {
	padding: 1rem 1rem 0;
}

/* Calls Visualizer Styles */

.calls-visualizer-details-card {
	margin: 1rem;
	height: 2rem;
	padding: 0.5rem;
	text-align: justify;
}

.calls-visualizer-details-text,
.calls-visualizer-call-id-text {
	text-transform: capitalize !important;
	vertical-align: sub;
	font-weight: bold !important;
}

.calls-visualizer-call-id-text {
	margin-left: 45rem !important;
}

.calls-visualizer-card-list {
	display: flex;
}

.calls-visualizer-moments-card {
	width: 18%;
	margin: 1rem;
}

.calls-visualizer-transcription-card {
	width: 56%;
	margin: 1rem;
}

.calls-visualizer-comments-card-layout {
	width: 26%;
	margin: 1rem;
}
/* .calls-visualizer-comments-card {
	height: 100%;
} */

.calls-page-legends {
	font-size: 0.8rem;
	text-align: right;
}
.calls-page-legends .legend-1 {
	color: green;
}
.calls-page-legends .legend-2 {
	color: red;
}
.calls-page-legends .legend-3 {
	color: skyblue;
}
.calls-page-legends .legend-4 {
	color: yellowgreen;
}
.calls-page-legends .legend-5 {
	color: orange;
}
.calls-page-moments {
	color: white !important;
}
.calls-page-moments .legend-1 {
	color: white !important;
	background-color: green !important;
	margin: 0 0.5rem;
}
.calls-page-moments .legend-2 {
	color: white !important;
	background-color: red !important;
	margin: 0 0.5rem;
}
.calls-page-moments .legend-3 {
	color: white !important;
	background-color: skyblue !important;
	margin: 0 0.5rem;
}
.calls-page-moments .legend-4 {
	color: white !important;
	background-color: yellowgreen !important;
	margin: 0 0.5rem;
}
.calls-page-moments .legend-5 {
	color: white !important;
	background-color: orange !important;
	margin: 0 0.5rem;
}