.chart-position {
	padding: 1rem;
}

/* Mixed Cards */
.chart-cardLayout {
	margin: 0 1rem;
	/* width: 21rem !important; */
	width: 26rem !important;
	box-shadow: 1px 2px 8px 1px rgba(166,165,165,0.45);
	-webkit-box-shadow: 1px 2px 8px 1px rgba(166,165,165,0.45);
	-moz-box-shadow: 1px 2px 8px 1px rgba(166,165,165,0.45);
}

/* .sentiment-chart-cardLayout {
	margin: 0 1rem;
	width: 18rem !important;
}

.emotions-chart-cardLayout {
	margin: 0 1rem;
	width: 18rem !important;
} */

.chart-card {
	height: 288px;
}

.chart-cardHeader {
	font-weight: bold;
	text-align: left;
	font-size: 10px;
}

.sentiment-space {
	margin: 1.5rem;
}

.chart-compositionCardLayout {
	margin: 0.5rem 1rem;
	box-shadow: 1px 2px 8px 1px rgba(166,165,165,0.45);
	-webkit-box-shadow: 1px 2px 8px 1px rgba(166,165,165,0.45);
	-moz-box-shadow: 1px 2px 8px 1px rgba(166,165,165,0.45);
}

.chart-compositionCardHeader {
	font-weight: bold;
	text-align: left;
	font-size: 10px;
	padding-bottom: 0 !important;
}

.chart-cardDiv {
	display: flex;
	justify-content: space-between;
}

.chart-detectionCardLayout {
	width: 50%;
	margin: 1rem;
	box-shadow: 1px 2px 8px 1px rgba(166,165,165,0.45);
	-webkit-box-shadow: 1px 2px 8px 1px rgba(166,165,165,0.45);
	-moz-box-shadow: 1px 2px 8px 1px rgba(166,165,165,0.45);
}

.chart-ruleComplianceCardLayout {
	margin: 0 1rem;
	box-shadow: 1px 2px 8px 1px rgba(166,165,165,0.45);
	-webkit-box-shadow: 1px 2px 8px 1px rgba(166,165,165,0.45);
	-moz-box-shadow: 1px 2px 8px 1px rgba(166,165,165,0.45);
}

.chart-ruleComplianceCard {
	width: 100%;
}

.chart-callCompositionLayout {
	margin: 1rem 1rem 0 1rem;
	width: 56%;
}

.chart-callComposition-card-layout {
	height: 96%;
}

.chart-call-categories-body {
	padding: 1rem 0 0 0.5rem;
}
