.dashboard-details-call-details-layout {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
}

.dashboard-details-upload-button {
	margin-right: 1rem;
	background-color: blue;
	color: white;
	border: none;
	font-size: 0.9rem;
	border-radius: 10px;
	padding: 0.5rem 1rem;
}

/* .dashboard-details-call-details {
} */

.dashboard-details-call-details-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 55%;
	background-color: white !important;
	border: 2px solid black !important;
	box-shadow: 24;
	padding: 2rem 1rem;
}

.dashboard-details-modal-header {
	text-align: center;
}

.dashboard-details-dropdowns {
	display: flex;
}

.dashboard-details-dropdown-container {
	display: flex;
}

.dashboard-details-modal-dropdown {
	width: 15rem;
	/* margin-bottom: 1rem !important; */
}

.dashboard-details-single-dropdown {
	margin: 1rem;
	width: 100%;
	align-self: center;
}

.dashboard-details-upload-button-container {
	text-align: left;
}

.dashboard-details-upload-file-button {
	align-self: center;
}

.dashboard-details-add-more {
	text-align: center;
	margin: 1rem;
}

.dashboard-details-dropdown-delete-button {
	padding-bottom: 0 !important;
	align-items: baseline !important;
}

.dashboard-details-upload-snackbar {
	margin: 5rem 0 0 12rem;
}

/* .dashboard-file input[type='file'] {
	width: 100px;
	color: transparent;
}
.dashboard-file span {
	font-size: 14px;
	padding-top: 22px;
} */
