.performance-card-layout {
	padding: 1rem 1rem 0;
	margin: 1rem;
	box-shadow: 1px 2px 8px 1px rgba(166, 165, 165, 0.45) !important;
	-webkit-box-shadow: 1px 2px 8px 1px rgba(166, 165, 165, 0.45) !important;
	-moz-box-shadow: 1px 2px 8px 1px rgba(166, 165, 165, 0.45) !important;
}

.performance-card-header {
	display: flex;
	justify-content: space-between;
}

.performance-card-filter-result {
	text-align: left;
}

.performance-card-tag-group {
	display: flex;
	justify-content: space-between;
}
