.card-container-layout {
	width: 10rem;
}

.card {
	width: 70rem;
	display: flex;
}

.card-display {
	width: 10rem;
	margin: 1rem;
}

.card-metaicons {
	text-align: end;
}

.analysis-card-link {
	color: black;
}

/* .analysis-card-link :focus,
:visited {
	color: inherit;
} */
