/* Analysis-Cards */
.container {
	/* display: flex; */
}

/* Chart-cards */
.chartCardContainer {
	display: flex;
	justify-content: space-between;
	margin: 0.5rem 0;
}

/* .detctionChart {
	display: flex;
	justify-content: space-between;
	margin: 1.5rem 1rem;
} */
.detctionChart {
	display: flex;
	justify-content: space-between;
	margin: 0.5rem 0;
}

.ruleCompliance {
	width: 100%;
	margin: 1rem 0 1rem 0;
}

/* Dropdown in cards */
.dropdownSelections {
	display: flex;
	margin-left: 1rem;
}
