/* Analysis-Cards */
.container {
	display: flex;
}

/* Chart-cards */
.chartCardContainer {
	display: flex;
	margin: 0.5rem 0;
}

.detctionChart {
	display: flex;
	margin: 0.5rem 0;
}

.ruleCompliance {
	width: 100%;
	margin: 1rem 0 1rem 0;
}

/* Dropdown in cards */
.dropdownSelections {
	display: flex;
	margin-left: 1rem;
}
