.employee-achievements-layout {
	justify-content: space-between;
}

.employee-achievements {
	display: flex;
	margin: 1rem;
	justify-content: center;
}

.employee-achievements-header-layout {
	align-self: center;
}

.employee-achievements-header {
	font-weight: bold !important;
}

.employee-achievements-caption {
	color: darkgrey;
}

.employee-achievements-divider {
	border: 1px solid #e0e0e0;
}
