.employee-achievements-layout {
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
	margin: 1rem;
}

.employee-achievements-header-layout {
	align-self: center;
}

.employee-achievements-header {
	font-weight: bold !important;
}

.employee-achievements-caption {
	color: darkgrey;
}
