.employee-management-feedback-button {
	background-color: blue;
	color: white;
	border: none;
	font-size: 0.9rem;
	border-radius: 10px;
	padding: 0.5rem 1rem;
	cursor: pointer;
}
.performance-card-provide-feedback-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45%;
	background-color: white !important;
	border: 2px solid black !important;
	box-shadow: 24;
	padding: 2rem;
}

.performance-card-modal-dropdown {
	margin: 1rem;
	min-width: 10rem !important;
}
