.performance-card-provide-feedback-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45%;
	background-color: white !important;
	border: 2px solid black !important;
	box-shadow: 24;
	padding: 2rem;
}
