.employee-management-feedback-button {
	margin-right: 1rem;
	background-color: #6b1d5e;
	color: white;
	border: none;
	font-size: 0.9rem;
	border-radius: 0.2rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	box-shadow: 1px 2px 8px 1px rgba(166, 165, 165, 0.45) !important;
	-webkit-box-shadow: 1px 2px 8px 1px rgba(166, 165, 165, 0.45) !important;
	-moz-box-shadow: 1px 2px 8px 1px rgba(166, 165, 165, 0.45) !important;
}
.performance-card-provide-feedback-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45%;
	background-color: white !important;
	border: 2px solid black !important;
	box-shadow: 24;
	padding: 2rem;
}

.performance-card-form-components {
	margin: 2rem;
}

.performance-card-modal-dropdown {
	margin: 1rem;
	min-width: 10rem !important;
}

.employee-management-feedback-buttons-group {
	display: flex;
	justify-content: space-between;
}
