.calls-page-evaluationform-button {
	margin-right: 1rem;
	background-color: #6b1d5e;
	color: white;
	border: none;
	font-size: 0.9rem;
	border-radius: 0.2rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.calls-page-evaluationform-button-icon {
	font-size: medium !important;
	vertical-align: text-bottom;
}

.MuiDrawer-paper {
	width: 27% !important;
}

.MuiFormControl-fullWidth {
	border: 1px solid black;
}

.calls-page-evaluationform-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 4rem;
	background-color: lightgrey;
}

.calls-page-evaluationform-heading {
	padding: 0 0.5rem;
	margin-top: 0.75rem !important;
	font-weight: bold !important;
}

/* Search box */

.evaluation-form-search-paper {
	padding: 0.1rem 0.4rem;
	display: flex;
	align-items: center;
	margin: 1rem;
}

.evaluation-form-search-box {
	margin-left: 1rem;
	flex-grow: 1;
	width: 100%;
}

.evaluation-form-search-box-divider {
	height: 1.8rem !important;
	margin: 0.5rem !important;
}

.evaluation-form-search-box-icon {
	padding: 0.75rem;
}

/* Questions */

.evaluation-form-options {
	padding: 0 1rem 1rem 1rem;
}

.evaluation-form-options-heading {
	font-weight: bold !important;
}

.evaluation-form-options-paper-layout {
	height: 3rem;
	margin: 0 1rem 1rem 1rem;
	padding: 0.5rem;
	width: 24.3rem;
	background-color: transparent;
	border: 1px solid lightgrey;
}

.evaluation-form-option {
	display: flex;
	justify-content: space-between;
}

.evaluation-form-option-type {
	font-size: 1rem !important;
}

/* Form Questions */

.evaluation-form-qa-type-heading {
	font-weight: bold !important;
	height: 4rem !important;
	padding-top: 2rem;
}

.evaluation-form-buttons {
	padding: 1rem;
	text-align: end;
}

.evaluation-form-discard-button {
	color: red;
	border: 1px solid red;
	background-color: transparent;
	font-size: 0.9rem;
	border-radius: 0.2rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	margin: 0 1rem;
}

.evaluation-form-submit-button {
	margin-right: 1rem;
	background-color: #6b1d5e;
	color: white;
	border: none;
	font-size: 0.9rem;
	border-radius: 0.2rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

/* Questions Card */

.evaluation-form-layout {
	margin: 1rem;
	border: 1px solid #d3d3d3;
}

.evaluation-form-header {
	background-color: lightgrey;
	padding: 1rem;
}

.evaluation-form-content {
	padding: 1rem;
}

.evaluation-form-divider {
	margin: 1rem 0 !important;
}

.evaluation-form-question-answer-block {
	display: flex;
}

.evaluation-form-astreisk {
	color: red;
	font-size: 1rem !important;
}

.evaluation-form-question {
	font-weight: bold !important;
}

.evaluation-form-question-layout {
	width: 70%;
	padding-top: 0.5rem;
	display: flex;
}

.evaluation-form-answer {
	width: 30%;
	text-align: end;
}

.evaluation-form-radio-group {
	align-content: flex-end;
}

.evaluation-form-comments-section {
	/* margin-bottom: 1rem; */
}

.evaluation-form-buttons {
	text-align: end;
}

.evaluation-form-add-comments-button {
	color: purple;
	border: none;
	background: none;
	font-size: 0.9rem;
	cursor: pointer;
}

.evaluation-form-inputbase {
	height: 5rem;
	padding: 1rem !important;
	border: 1px solid black;
	border-radius: 5px;
}

.evaluation-form-comments-textfield {
	width: -webkit-fill-available;
}

.evaluation-form-radio-button {
	color: #6b1d5e !important;
}
