/* Navbar Styles */

.appbar-layout {
	background-color: #6c1d5f !important;
	width: auto;
}

.appbar-heading-bar {
	padding-left: 0.5rem !important;
}

.appbar-menu-button {
	width: 3rem;
	height: 3rem;
}

.appbar-menu-icon {
	color: white;
	padding-right: 1rem;
}

.appbar-heading {
	font-weight: bolder !important;
	color: white;
	margin-left: 0.5rem;
}

.appbar-box {
	flex-grow: 1;
	display: flex;
	padding: 0 1rem;
}

.appbar-button-group {
	padding: 0 1rem !important;
	height: 4rem !important;
}

.appbar-pages {
	color: white !important;
	margin: 0 0.5rem !important;
	padding: 0 0.5rem !important;
}

.nav{
	padding: 0;
}
.nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
  
  .nav-bar li {
	float: left;
	border-right: 1px solid #f358d92e;
  }
  
  .nav-bar li:last-child {
	border-right: none;
  }
  
  .nav-bar li a {
	display: block;
	color: white !important;
	text-align: center;
	padding: 22px 16px;
	text-decoration: none;
  }
  .nav-bar li a span {
	  font-size: 12px;
  }
  .nav-bar li a:hover:not(.active) {
	background-color: #c13fab8c;
  }
  
  .nav-bar .active {
	background-color: #c13fab8c;
	border-radius: 0;
  }

.appbar-pending-page-notification {
	color: white !important;
	font-size: 0.6rem !important;
}

.appbar-pending-pages {
	color: white !important;
	margin: 0 0.5rem !important;
	line-height: normal !important;
}

.appbar-icon-list {
	display: flex;
}

.appbar-profile {
	color: white !important;
	align-self: center;
	text-transform: capitalize !important;
	/* margin-right: 2rem;
    margin-top: 0.5rem; */
	margin: 0.5rem 2rem 0 0 !important;
	/* border-radius: 10px;
	background-color: white;
	color: #6c1d5f !important;
	min-width: 10rem; */
	border-right: 1px solid #f358d92e;
    padding-right: 10px;
}

.appbar-button {
	padding: 0.8rem !important;
}

.appbar-icons {
	flex-grow: 1;
	color: white;
}

.appbar-avatar {
	padding: 1.2rem !important;
	color: white !important;
}

.appbar-avatar-menu {
	display: flex;
	top: 4rem;
	width: 12rem;
}

.appbar-avatar-menuItem {
	display: block;
	padding: 1rem !important;
}

.appbar-notification-menu {
	top: 3rem !important;
	right: 20rem;
	padding: 1rem;
}

/* .appbar-notification-menu-list {
	width: 25rem;
	overflow: auto;
} */

.appbar-notification-menu-item {
	display: flex !important;
	justify-content: space-between !important;
	padding: 0.5rem !important;
}

.appbar-notification-menu-list-button {
	text-align: end;
	background-color: initial;
	color: blue;
	border: none;
	font-size: 0.9rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	text-transform: uppercase;
}

.appbar-notification-menu-list-notification-item {
	display: block;
	justify-content: space-between !important;
	padding: 0.5rem !important;
}

.appbar-notification-menu-notification-container {
	display: flex;
}

.appbar-notification-menu-notification-icon-container {
	align-self: center;
	width: 10%;
}

.appbar-notification-menu-notification-icon {
	font-size: small !important;
	color: blue;
}

.appbar-notification-menu-notification-message {
	margin-left: '1rem';
	white-space: pre-wrap;
	font-weight: bold !important;
}

.appbar-notification-menu-notification-time-container {
	margin-left: 2.7rem;
	padding-bottom: 0.5rem;
}

.appbar-notification-menu-notification-time {
	color: darkgrey;
}

.appbar-notification-menu-see-all-notifications {
	text-align: center;
}

.active {
	border-radius: 10px;
	background-color: white;
	color: #6c1d5f !important;
	min-width: fit-content;
}
