.login-form-card-layout {
	display: flow-root;
	flex-grow: 1;
	height: 100vh;
}

.login-form-heading {
	margin: 3rem auto 3rem auto !important;
	background-color: #ffff;
	width: 20rem;
	color: #6c1d5f;
	font-weight: bold !important;
	text-transform: uppercase;
	border-radius: 1.2rem !important;
}

.login-form-header {
	margin: 2rem 1rem 1rem 1rem;
}

.login-form-card-title {
	font-weight: bold !important;
}

.login-form-card {
	width: 20rem;
	height: 25rem;
	margin: 4rem auto;
	border-radius: 1.25rem !important;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.24) !important;
}

.login-form-elements {
	display: inline-grid;
	margin: 1rem;
}

.login-form-input {
	width: 16rem;
	height: 2rem;
	color: black !important;
	background: rgba(136, 126, 126, 0.04) !important;
	border-radius: 20px;
	/* font-weight: 700; */
	font-size: 14px;
	/* letter-spacing: 1px; */
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.12) !important;
	text-align: center !important;
}

.login-form-input:focus {
	border: 2px solid rgba(0, 0, 0, 0.28) !important;
}

.login-form-submit-button {
	width: 6rem;
	height: 2rem;
	background-color: blue;
	border: none;
	color: white;
	text-transform: capitalize !important;
	margin: 1rem 0 !important;
	border-radius: 20px !important;
	cursor: pointer;
}

/* .login-paper-styles {
	padding: 1rem;
	height: 55vh;
	width: 20rem;
	margin: 5rem auto;
}

.login-paper-header {
	margin: 1rem;
}

.login-paper-fields {
	margin-bottom: 2rem;
}

.login-paper-subtitle {
	text-align: left;
	font-weight: bold !important;
}

.login-paper-textfield {
	margin-top: 1rem;
}

.login-paper-checkbox {
	text-align: left;
}

.login-paper-button {
	margin: 2rem 1rem 1rem 1rem !important;
} */
