.login-form-card-layout {
	display: flow-root;
	flex-grow: 1;
	height: 100vh;
}

.login-form-heading {
	margin: 3rem auto 3rem auto !important;
	width: 20rem;
	color: #6c1d5f;
	font-weight: bold !important;
	text-transform: uppercase;
	border-radius: 0.5rem !important;
	text-shadow: 1px 2px 3px #d0d0d0;
}

.login-form-header {
	margin: 2.5rem 1rem 1rem 1rem;
	text-transform: uppercase;
    color: #545454;
}

.login-form-card-title {
	font-weight: bold !important;
}

.login-form-card {
	width: 20rem;
	height: 25rem;
	margin: 4rem auto;
	border-radius: .5rem !important;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.24) !important;
}

.login-form-elements {
	display: inline-grid;
	margin: .8rem 1rem;
}
.login-for-label{
	text-align: left;
	color: #464646;
	padding-left: 2px;
}
.forgot-password{
	text-align: right;
}
.login-forgot-password{
    margin-right: 34px;
	color: #a7a7a7;
	font-size: .9rem;
}
.login-form-error{
	color: #D8000C;
	font-size: .9rem;
}
.login-forgot-password a:hover{ 
	color: #691e57;
	cursor: pointer;
}
.login-form-input {
	width: 16rem;
	height: 2rem;
	color: black !important;
	background: rgba(136, 126, 126, 0.04) !important;
	border-radius: .3rem;
	/* font-weight: 700; */
	font-size: 1rem;
	/* letter-spacing: 1px; */
	outline: none;
	box-sizing: border-box;
	border: 2px solid #d0d0d0 !important;
	text-align: left;
	margin: 5px 0;
	background-color: #fff;
	padding: 2px 5px;
}

.login-form-input:focus {
	border: 2px solid rgba(0, 0, 0, 0.28) !important;
}

.login-form-submit-button {
	width: 16rem;
	height: 2rem;
	background-color: #6a1d57;
	border: none;
	color: white;
	text-transform: capitalize !important;
	margin: 1rem 0 !important;
	border-radius: 0.5rem !important;
	cursor: pointer;
	font-size: 1rem;
	box-shadow: 0px 10px 16px -1px rgba(0,0,0,0.43);
    -webkit-box-shadow: 0px 10px 16px -1px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 10px 16px -1px rgba(0,0,0,0.43);  
}
.login-form-submit-button:hover {
	background-color:#5a194a;
}

/* .login-paper-styles {
	padding: 1rem;
	height: 55vh;
	width: 20rem;
	margin: 5rem auto;
}

.login-paper-header {
	margin: 1rem;
}

.login-paper-fields {
	margin-bottom: 2rem;
}

.login-paper-subtitle {
	text-align: left;
	font-weight: bold !important;
}

.login-paper-textfield {
	margin-top: 1rem;
}

.login-paper-checkbox {
	text-align: left;
}

.login-paper-button {
	margin: 2rem 1rem 1rem 1rem !important;
} */
