/* Individual Date Picker Styles */

.datepicker-layout {
	width: 154px;
	margin: 1rem 0.2rem;
}

.datepicker-label {
	margin: 2rem;
	width: 200rem;
}

/* Navbar Styles */

/* .appbar-layout {
	background-color: purple !important;
}

.appbar-heading-bar {
	padding-left: 0.5rem !important;
}

.appbar-menu-icon {
	color: white;
	padding-right: 1rem;
}

.appbar-heading {
	font-weight: bold;
	color: white;
	margin-left: 0.5rem;
}

.appbar-box {
	flex-grow: 1;
	display: flex;
	padding: 0 1rem;
}

.appbar-pages {
	color: white;
	margin: 0 1rem !important;
}

.appbar-icons {
	color: white;
	padding-left: 1rem;
} */

/* Sidebar Styles */

.sidebar-layout {
	width: 10rem;
	height: max-content;
	background-color: whiteSmoke;
	border: 1px solid lightgrey;
}

.sidebar-heading {
	margin-top: 0;
	padding-top: 1rem;
}

/* Table Styles */

.calls-table-layout {
	height: 41rem;
	width: 100%;
}

.details-button {
	color: #ffffff !important;
	background-color: #0e86d4 !important;
	border-radius: 10px !important;
	padding: 5px !important;
}

.details-button:hover {
	color: #0e86d4 !important;
	background-color: #ffffff !important;
}

/* Dropdown Styles */

.dropdown-layout {
	display: flex;
	width: 154px;
}

.dropdown-form {
	margin: 1rem !important;
	width: 9.5rem;
}
