.employee-management-body-layout {
	display: flow-root;
}

.employee-management-card-layout {
	margin: 1rem;
	padding: 1rem 0 1rem 1rem;
	display: flex;
}

.employee-management-filters-card-layout {
	width: 20%;
	margin: 1rem;
}

.employee-management-main-card-layout {
	width: 80%;
}

.dashboard-page-divider {
	margin: 0.3rem 0;
	height: 1px;
	background-color: #e0e0e0;
	border: none;
}

.employee-management-main-bottom-cards {
	width: 100%;
}

.employee-management-main-feedback-card-layout {
	width: 100%;
}

.employee-management-button-elements {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0.5rem;
	margin: 0.5rem;
}

.employee-management-page {
	padding: 0 1rem 1rem 1rem;
}
